   <style>
        
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        #rabbits-info-heading {
            background-color: purple;
        }
        
        p {
            color: rgb(191, 0, 255);
            font-family: "Helvetica", sans-serif;
        }
        
        .song-lyrics {
            background-color: yellow;
            font-family: monospace;
        }
        
        </style>
